namespace: kube-system

daemonSet:
  priorityClassName: system-node-critical
  # Use OnDelete for change the plugin strategy
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
  # add toleration as needed
  # tolerations:
  #  - key: furiosa.ai/npu
  #    operator: Exists
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: feature.node.kubernetes.io/pci-1200_1ed2.present
            operator: In
            values:
              - "true"
  image:
    repository: registry.corp.furiosa.ai/furiosa/furiosa-device-plugin
    tag: latest
    pullPolicy: IfNotPresent
  resources:
    cpu: 100m
    memory: 64Mi
  # locate you image pull secret in your cluster
  imagePullSecrets:
   # - name: imagepullsecret

config:
  resourceStrategy: generic
  debugMode: false
  disabledDeviceUUIDListMap:
   # node:
   #   - "uuid"
