apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: furiosa-metrics-exporter
      app.kubernetes.io/instance: {{ .Release.Name }}
  updateStrategy:
    {{ toYaml .Values.daemonSet.updateStrategy | nindent 4 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: furiosa-metrics-exporter
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      priorityClassName:  {{ .Values.daemonSet.priorityClassName | default "system-node-critical" }}
      containers:
        - name: furiosa-metrics-exporter
          image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - ./main
          args:
            - --port=$(PORT)
            - --interval=$(INTERVAL)
            - --node-name=$(NODE_NAME)
            - --kube-resources-label=$(KUBE_RESOURCES_LABEL)
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: "spec.nodeName"
            - name: PORT
              value: "{{ .Values.service.targetPort }}"
            - name: INTERVAL
              value: "{{ .Values.config.collectInterval }}"
            - name: KUBE_RESOURCES_LABEL
              value: "{{ .Values.config.kubeResourcesLabel }}"
          {{- with .Values.daemonSet.resources }}
          resources:
            {{ toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
               - ALL
          volumeMounts:
            - name: dev-fs
              mountPath: /dev
            - name: sys-fs
              mountPath: /sys
            - name: pod-resource-api
              mountPath: /var/lib/kubelet/pod-resources/
      {{- with .Values.daemonSet.affinity }}
      affinity:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: dev-fs
          hostPath:
            path: /dev
        - name: sys-fs
          hostPath:
            path: /sys
        - name: pod-resource-api
          hostPath:
            path: /var/lib/kubelet/pod-resources/
      {{- with .Values.daemonSet.tolerations }}
      tolerations:
        {{ toYaml . | nindent 8 }}
      {{- end }}
