apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  {{- if .Values.service.enableScrapAnnotations }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "{{ .Values.service.port }}"
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: "metrics"
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
  selector:
    app.kubernetes.io/name: furiosa-metrics-exporter
    app.kubernetes.io/instance: {{ .Release.Name }}
