apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "furiosa-feature-discovery.name" . }}
  namespace: {{ .Values.namespace | default "kube-system" }}
  labels:
    {{- include "furiosa-feature-discovery.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "furiosa-feature-discovery.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  updateStrategy:
    {{- toYaml .Values.daemonSet.updateStrategy | nindent 4 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "furiosa-feature-discovery.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      priorityClassName:  {{ .Values.daemonSet.priorityClassName | default "system-node-critical" }}
      containers:
        - name: {{ include "furiosa-feature-discovery.name" . }}
          image: {{ .Values.daemonSet.image.repository | default "registry.corp.furiosa.ai/furiosa/furiosa-feature-discovery" }}:{{ .Values.daemonSet.image.tag | default "latest" }}
          imagePullPolicy: {{ .Values.daemonSet.image.pullPolicy | default "IfNotPresent" }}
          workingDir: /opt/bin
          command: ["./furiosa-feature-discovery"]
          args: [
            # Default interval is 60 secs
            "--interval", "60"
          ]
          env:
            - name: K8S_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: "spec.nodeName"
            - name: RUST_LOG
              value: "info"
          resources:
            requests:
              cpu: {{ .Values.daemonSet.resources.cpu | default "100m" }}
              memory: {{ .Values.daemonSet.resources.memory | default "64Mi" }}
            limits:
              cpu: {{ .Values.daemonSet.resources.cpu | default "100m" }}
              memory: {{ .Values.daemonSet.resources.memory | default "64Mi" }}
          securityContext:
            allowPrivilegeEscalation: false
            # capabilities:
            #   drop:
            #    - ALL
          volumeMounts:
            - name: dev
              mountPath: /dev
            - name: sys
              mountPath: /sys
            - name: features-d
              mountPath: "/etc/kubernetes/node-feature-discovery/features.d/"
      {{- with .Values.daemonSet.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.daemonSet.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: sys
          hostPath:
            path: /sys
        - name: dev
          hostPath:
            path: /dev
        - name: features-d
          hostPath:
            path: "/etc/kubernetes/node-feature-discovery/features.d/"
      {{- with .Values.daemonSet.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
