apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: furiosa-feature-discovery
      app.kubernetes.io/instance: {{ .Release.Name }}
  updateStrategy:
    {{ toYaml .Values.daemonSet.updateStrategy | nindent 4 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: furiosa-feature-discovery
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      priorityClassName:  {{ .Values.daemonSet.priorityClassName | default "system-node-critical" }}
      containers:
        - name: furiosa-feature-discovery
          image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          workingDir: /opt/bin
          command: ["./furiosa-feature-discovery"]
          args: [
            # Default interval is 60 secs
            "--interval", "60"
          ]
          env:
            - name: K8S_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: "spec.nodeName"
            - name: RUST_LOG
              value: "info"
          {{- with .Values.daemonSet.resources }}
          resources:
            {{ toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
            # capabilities:
            #   drop:
            #    - ALL
          volumeMounts:
            - name: dev
              mountPath: /dev
            - name: sys
              mountPath: /sys
            - name: features-d
              mountPath: "/etc/kubernetes/node-feature-discovery/features.d/"
      {{- with .Values.daemonSet.affinity }}
      affinity:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: sys
          hostPath:
            path: /sys
        - name: dev
          hostPath:
            path: /dev
        - name: features-d
          hostPath:
            path: "/etc/kubernetes/node-feature-discovery/features.d/"
      {{- with .Values.daemonSet.tolerations }}
      tolerations:
        {{ toYaml . | nindent 8 }}
      {{- end }}
