apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      protocol: TCP
      targetPort: {{ .Values.operator.metricsPort }}
  selector:
    app.kubernetes.io/name: furiosa-npu-operator
    app.kubernetes.io/instance: {{ .Release.Name }}
