image:
  repository: asia-northeast3-docker.pkg.dev/next-gen-infra/furiosa-ai/furiosa-feature-discovery
  pullPolicy: IfNotPresent
  tag: ""  # If empty, AppVersion will be used as a tag.

imagePullSecrets: []
# - name: "docker-secret"

daemonSet:
  priorityClassName: system-node-critical
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: feature.node.kubernetes.io/pci-1200_1ed2.present
                operator: In
                values:
                  - "true"

  resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

  # add toleration as needed
  tolerations: []
  #  - key: furiosa.ai/npu
  #    operator: Exists

node-feature-discovery:
  enabled: true
  # add toleration as needed
  # worker:
  #   tolerations:
  #     - key: "furiosa.ai/npu"
  #       operator: "Exists"
