apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: furiosa-dra-driver-kubeletplugin
      app.kubernetes.io/instance: {{ .Release.Name }}
  updateStrategy:
    {{ toYaml .Values.daemonSet.updateStrategy | nindent 4 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: furiosa-dra-driver-kubeletplugin
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      priorityClassName: {{ .Values.daemonSet.priorityClassName | default "system-node-critical" }}
      {{ if .Values.serviceAccount.create -}}
      serviceAccountName: {{ .Release.Name }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: plugin
          image: {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - ./dra-kubelet-plugin
          args:
            - "--node-name=$(NODE_NAME)"
            - "--cdi-root=$(CDI_ROOT)"
          env:
            - name: CDI_ROOT
              value: /var/run/cdi
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          {{- with .Values.daemonSet.resources }}
          resources:
            {{ toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - name: plugins-registry
              mountPath: /var/lib/kubelet/plugins_registry
            - name: plugins
              mountPath: /var/lib/kubelet/plugins
            - name: cdi
              mountPath: /var/run/cdi
            - name: dev-fs
              mountPath: /dev
            - name: sys-fs
              mountPath: /sys
      volumes:
        - name: plugins-registry
          hostPath:
            path: /var/lib/kubelet/plugins_registry
        - name: plugins
          hostPath:
            path: /var/lib/kubelet/plugins
        - name: cdi
          hostPath:
            path: /var/run/cdi
        - name: dev-fs
          hostPath:
            path: /dev
        - name: sys-fs
          hostPath:
            path: /sys
      {{- with .Values.daemonSet.affinity }}
      affinity:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.daemonSet.tolerations }}
      tolerations:
        {{ toYaml . | nindent 8 }}
      {{- end }}

