apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "furiosa-dra-driver.fullname" . }}-role
  namespace: {{ .Values.namespace | default "kube-system" }}
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
