name: Helm

on:
  push:
    paths: ["charts/**"]
    branches: [ "main" ]
  pull_request:
    paths: ["charts/**"]
    branches: [ "main" ]

jobs:
  chart-lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: setup helm env
        uses: helm/chart-testing-action@v2.8.0
      - name: Add dependency chart repos
        run: |
          helm repo add nfd https://kubernetes-sigs.github.io/node-feature-discovery/charts
      - name: helm lint
        run: ct lint --validate-maintainers=false --target-branch main

  chart-test-with-kind:
    needs: chart-lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        k8s-version:
          - v1.24.17
          - v1.25.16
          - v1.26.15
          - v1.27.16
          - v1.28.15
          - v1.29.14
          - v1.30.13
          - v1.31.14
          - v1.32.11
          - v1.33.7
          - v1.34.3
          - v1.35.0
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: create kind cluster
        uses: helm/kind-action@v1.13.0
        with:
          cluster_name: helm-charts-test-${{ matrix.k8s-version }}
          config: .github/workflows/kind_config/kind_${{ matrix.k8s-version }}.yaml
          kubectl_version: ${{ matrix.k8s-version }}
      - name: setup helm env
        uses: helm/chart-testing-action@v2.8.0
      - name: Add dependency chart repos
        run: |
          helm repo add nfd https://kubernetes-sigs.github.io/node-feature-discovery/charts
      - name: Wait for nodes to be ready
        run: |
          kubectl wait --for=condition=Ready nodes --all --timeout=300s
      - name: try install
        run: ct install --chart-dirs charts --charts charts/furiosa-device-plugin,charts/furiosa-feature-discovery,charts/furiosa-metrics-exporter --namespace kube-system  --helm-extra-args '--timeout 500s'
